@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
}
:root{
  --van-button-border-radius:6px;
  --van-button-primary-background-color: #3c7ef6;
}

.bottom-fixed{
  @apply fixed bottom-0 left-0 w-full px-4 py-3 bg-white border-t border-gray-100;
}